h2 + p{
    font-weight: bold;
}
h2 ~ p {
    color: red;
}
.box {
    height: 40px;
    width: 40px;
    background-color: orange;
}
.box:hover {
    background-color: red;
}
.box:active {
    background-color: green;
}

ol { counter-reset: item }
li{ display: block }
li:before { content: counters(item, ".") " "; counter-increment: item }
li:hover > ol {
    display:block !important;
}